repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        language_version: python3.11
      - id: ruff
        args: ["--fix"]
        stages: [pre-commit, pre-push]
        language_version: python3.11

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.0
    hooks:
      - id: mypy
        language_version: python3.11
        additional_dependencies: ["types-requests"]
        stages: [pre-commit, pre-push]
